.fixed-top {
    position: fixed;
    top: 0;
    left: 0;

}
.navbar-dark {
    background-color: black;
    color: white;
    width: 100%;
    text-align: right;
   
}
.navbar-menu {
    list-style-type: none;
}
.navbar-menu li {
    display: inline;
    margin-right: 20px;

}
.nav-link {
    text-decoration: none;
    color: red;
}
.pt-5 {
    padding-top: 25px;
}
.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1rem;
}